.primera-img{
	margin-top: 0;
	width: 100%;
	height: 87.5vh;
	background: url(../img/john-fowler-7Ym9rpYtSdA-unsplash.jpg);
	background-size: cover;
	background-repeat: no-repeat;


}

.primera-img{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f2f2f2;
}

@media screen and (max-width: 827px) {
	.slider2{
	height: 300px;
}
	.primera-img{
	height: 80vh !important;
}

.slider{
	padding-bottom: 100px;
}

}

h2.titulo-slider{
	margin-top: 10vh;
	margin-bottom: 5vh;
	text-align: center;
	font-size: 2em;
	color: #fff;
}
/*Slider*/

.slider{

	width: 100%;
	margin: auto;
	overflow: hidden;
	background-color: #f2f2f2;
	padding-bottom: 5vh;
	justify-content: center;
	align-items: center;
	background: url(../img/ivana-cajina-asuyh-_ZX54-unsplash.jpg);
}

.slider ul{
	display: flex;
	padding: 0;
	width: 800%;

	animation: slaider 65s infinite ease;
}

.slider ul li{
	width: 100%;
	list-style-type: none;
}

.slider p{
	width: 100%;
	text-align: center;
	display: block;
	font-size: 2em;
	color: #fff;
}



@keyframes slaider {
	0% {margin-left: 0;}
	12.5% {margin-left: 0;}

	12.6% {margin-left: -100%;}
	25% {margin-left: -100%;}

	25.1% {margin-left: -200%;}
	37.5% {margin-left: -200%;}

	37.6% {margin-left: -300%;}
	50% {margin-left: -300%;}

	50.1% {margin-left: -400%;}
	62.5% {margin-left: -400%;}

	62.6% {margin-left: -500%;}
	75% {margin-left: -500%;}

	75.1% {margin-left: -600%;}
	87.5% {margin-left: -600%;}

	87.6% {margin-left: -700%;}
	100% {margin-left: -700%;}
}

/* Section publicidad*/

.publicidad{
	height: 80vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../img/ivana-cajina-asuyh-_ZX54-unsplash.jpg);
}
.publicidad p{
	text-align: center;
	color: #f2f2f2;
	font-size: 1.5em;
}

/*section quienes somos*/

.quienes-Somos{
	font-size: 1.2em;
	text-align: center;
	padding-top: 2vh;
	padding-bottom: 2vh;
}
.quienes-Somos h2{
	padding-bottom: 2vh
}

.servicios{
	margin-left: 3em;
	margin-right: 3em;
	font-size: 1.2em;
	text-align: center;
	padding-top: 2vh;
	padding-bottom: 2vh;
}
.servicios h2{
	padding-bottom: 2vh
}
.servicios p{
	padding-bottom: 2vh
}

.servicios h3{
	padding-bottom: 2vh
}
.contacto-preformulario{
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 50px;
	font-size: 1.2em;
	text-align: center;
}

.contacto-preformulario h2{
	padding-bottom: 1.5vh
}


.formulario{
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;
}
.correo{
	text-align: center;
}

main p{
	text-align: center;
}
/* footer*/

footer{
	height: 30vh;
	width: 100%;
	background: rgba(0,0,0,.9);
	text-align: center;
	padding-top: 25px;
	overflow: hidden;
}

footer a{
	text-decoration: none;
	color: #fff;
	display: inline-block;
	padding-top: 5px;
	padding-right: 20px;

}


footer a:hover{
	transform: scale(1.1);
	font-weight: bold;
	color: #f2f2f2;
}

footer span{
	padding-top: 20px;
	padding-bottom: 5px;
	display: block;
	color: #fff;
}
